@CHARSET "UTF-8";

body {
	background-color: #4d4d4d;
	color: red;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 100%;
	font-family:'Rancho', serif;
}

h1 {
	font-size: 62px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 32px;
}

a {
	color: #0099ff;	
}

p {
	color: white;
	font-size: 28px;	
}

.headerTable, .headerTable td {
	border-style: solid solid solid solid;
	border-color: white;
	border-collapse: collapse;
	padding: 25px 50px 25px 50px;
	text-align: center;
	text-color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

.infoTable, .infoTable td {
	border-style: solid solid solid solid;
	border-color: white;
	border-collapse: collapse;
	padding: 10px 10px 10px 10px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	background-color: #262626;
	text-align: left;
	line-height: 150%;
}

div {
	height: 543px;
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animaiton-name: example;
	-webkit-animation-delay: 2s;
	animation-name: example;
	animation-duration: 10s;
	animation-delay: 2s;
}

@-webkit-keyframes example {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

